  .heading
  {
    font-size: 27px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none ;
    padding: 10px ;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 25px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span
  {
    white-space: pre-line;
  }
  canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 200px;
  }

  

  body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #title{
    background-color:lightgrey;

  
  }

  #res1{
    
    background-color: dimgray;

  }

 
  #res2{
    background-color: dimgray;
  }

 
 